<section class="todoapp">

  <header class="header">
    <h1>TODO Lists</h1>
    <%= form_for(@list) do |f| %>

    <%= f.text_field :name, :class => "new-todo", :placeholder => (@list.errors.full_messages_for(:name).first || "Enter a new list..") %>
    <%= f.submit %>
    <% end %>

    <!-- <input class="new-todo" placeholder="What needs to be done?" autofocus=""> -->
  </header>

  <section class="main">
    <input class="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      <% @lists.each do |list| %>
      <li>
        <div class="view">
          <label><%= link_to list.name, list_path(list) %></label>
        </div>
      </li>

    <% end %>
    </ul>
  </section>

  <footer class="footer" >

  </footer>
</section>
<footer>
  
  <p><%= link_to "Logout", logout_path %></p>

</footer>
