<li class="<%= "completed" if item.complete? %>">
  <div class="view">
    <%= form_for([@list, item]) do |f| %>
    <%= f.check_box :status, :class => "toggle", :checked => (true if item.complete?) %>
    <input class="toggle" type="checkbox" <%= "checked='checked'" if item.complete? %>>
    <% end %>
    <label><%= item.description %></label>
    <%= form_tag(list_item_path(item.list, item), :method => :delete) do %>

      
      <button type="submit" class="destroy"></button>
    <% end %>
  </div>
</li>
